In [2]:
import pandas as pd
df = pd.read_csv("cereal.csv")
df.head(10)

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.00,0.33,68.402973
1,100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,0,3,1.00,1.00,33.983679
2,All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,3,1.00,0.33,59.425505
3,All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25,3,1.00,0.50,93.704912
4,Almond Delight,R,C,110,2,2,200,1.0,14.0,8,-1,25,3,1.00,0.75,34.384843
5,Apple Cinnamon Cheerios,G,C,110,2,2,180,1.5,10.5,10,70,25,1,1.00,0.75,29.509541
6,Apple Jacks,K,C,110,2,0,125,1.0,11.0,14,30,25,2,1.00,1.00,33.174094
7,Basic 4,G,C,130,3,2,210,2.0,18.0,8,100,25,3,1.33,0.75,37.038562
8,Bran Chex,R,C,90,2,1,200,4.0,15.0,6,125,25,1,1.00,0.67,49.120253
9,Bran Flakes,P,C,90,3,0,210,5.0,13.0,5,190,25,3,1.00,0.67,53.313813

In [3]:
df.info()

#Missing data detection: Spots columns with missing values
#Data type issues: Identifies if numbers are stored as text
#Memory optimization: Shows if data types can be optimized

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 16 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      77 non-null     object
 1   mfr       77 non-null     object
 2   type      77 non-null     object
 3   calories  77 non-null     int64
 4   protein   77 non-null     int64
 5   fat       77 non-null     int64
 6   sodium    77 non-null     int64
 7   fiber     77 non-null     float64
 8   carbo     77 non-null     float64
 9   sugars    77 non-null     int64
 10  potass    77 non-null     int64
 11  vitamins  77 non-null     int64
 12  shelf     77 non-null     int64
 13  weight    77 non-null     float64
 14  cups      77 non-null     float64
 15  rating    77 non-null     float64
dtypes: float64(5), int64(8), object(3)
memory usage: 9.8+ KB

In [4]:
df.describe()

,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
count,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000
mean,106.883117,2.545455,1.012987,159.675325,2.151948,14.597403,6.922078,96.077922,28.246753,2.207792,1.029610,0.821039,42.665705
std,19.484119,1.094790,1.006473,83.832295,2.383364,4.278956,4.444885,71.286813,22.342523,0.832524,0.150477,0.232716,14.047289
min,50.000000,1.000000,0.000000,0.000000,0.000000,-1.000000,-1.000000,-1.000000,0.000000,1.000000,0.500000,0.250000,18.042851
25%,100.000000,2.000000,0.000000,130.000000,1.000000,12.000000,3.000000,40.000000,25.000000,1.000000,1.000000,0.670000,33.174094
50%,110.000000,3.000000,1.000000,180.000000,2.000000,14.000000,7.000000,90.000000,25.000000,2.000000,1.000000,0.750000,40.400208
75%,110.000000,3.000000,2.000000,210.000000,3.000000,17.000000,11.000000,120.000000,25.000000,3.000000,1.000000,1.000000,50.828392
max,160.000000,6.000000,5.000000,320.000000,14.000000,23.000000,15.000000,330.000000,100.000000,3.000000,1.500000,1.500000,93.704912

In [5]:
df.describe(include='object')  # Include text columns

             name mfr type
count          77  77   77
unique         77   7    2
top     100% Bran   K    C
freq            1  23   74

In [6]:
df.describe(include='all')  # Include all columns

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
count,77,77,77,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000
unique,77,7,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,100% Bran,K,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,1,23,74,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,106.883117,2.545455,1.012987,159.675325,2.151948,14.597403,6.922078,96.077922,28.246753,2.207792,1.029610,0.821039,42.665705
std,NaN,NaN,NaN,19.484119,1.094790,1.006473,83.832295,2.383364,4.278956,4.444885,71.286813,22.342523,0.832524,0.150477,0.232716,14.047289
min,NaN,NaN,NaN,50.000000,1.000000,0.000000,0.000000,0.000000,-1.000000,-1.000000,-1.000000,0.000000,1.000000,0.500000,0.250000,18.042851
25%,NaN,NaN,NaN,100.000000,2.000000,0.000000,130.000000,1.000000,12.000000,3.000000,40.000000,25.000000,1.000000,1.000000,0.670000,33.174094
50%,NaN,NaN,NaN,110.000000,3.000000,1.000000,180.000000,2.000000,14.000000,7.000000,90.000000,25.000000,2.000000,1.000000,0.750000,40.400208
75%,NaN,NaN,NaN,110.000000,3.000000,2.000000,210.000000,3.000000,17.000000,11.000000,120.000000,25.000000,3.000000,1.000000,1.000000,50.828392
max,NaN,NaN,NaN,160.000000,6.000000,5.000000,320.000000,14.000000,23.000000,15.000000,330.000000,100.000000,3.000000,1.500000,1.500000,93.704912

In [7]:
df.columns

Index(['name', 'mfr', 'type', 'calories', 'protein', 'fat', 'sodium', 'fiber',
       'carbo', 'sugars', 'potass', 'vitamins', 'shelf', 'weight', 'cups',
       'rating'],
      dtype='object')

In [8]:
df.isna().sum()  # Count missing values per column

name        0
mfr         0
type        0
calories    0
protein     0
fat         0
sodium      0
fiber       0
carbo       0
sugars      0
potass      0
vitamins    0
shelf       0
weight      0
cups        0
rating      0
dtype: int64

In [9]:
import pandas as pd
df1 = pd.read_csv("cereal1.csv")

In [10]:
df1.isna().sum()  # Count missing values per column

name        0
mfr         1
type        3
calories    3
protein     0
fat         0
fat.1       0
sodium      3
fiber       1
carbo       1
sugars      0
potass      0
vitamins    0
shelf       0
weight      0
cups        0
rating      0
dtype: int64

In [11]:
df_dropped_na = df1.dropna()  # Drop rows with any missing values
df_dropped_na.isna().sum()  # Count missing values per column

name        0
mfr         0
type        0
calories    0
protein     0
fat         0
fat.1       0
sodium      0
fiber       0
carbo       0
sugars      0
potass      0
vitamins    0
shelf       0
weight      0
cups        0
rating      0
dtype: int64

In [12]:
df1['type'].fillna(value=df1['type'].mode()[0], inplace=True)
df1.head(10)

C:\Users\ka6109071\AppData\Local\Temp\ipykernel_13056\3594233248.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df1['type'].fillna(value=df1['type'].mode()[0], inplace=True)

,name,mfr,type,calories,protein,fat,fat.1,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70.0,4,1,1,130.0,10.0,5.0,6,280,25,3,1.00,0.33,68.402973
1,100% Bran,N,C,70.0,4,1,1,130.0,10.0,5.0,6,280,25,3,1.00,0.33,68.402973
2,100% Natural Bran,Q,C,120.0,3,5,5,NaN,NaN,8.0,8,135,0,3,1.00,1.00,33.983679
3,All-Bran,K,C,70.0,4,1,1,260.0,9.0,7.0,5,320,25,3,1.00,0.33,59.425505
4,All-Bran with Extra Fiber,K,C,50.0,4,0,0,140.0,14.0,NaN,0,330,25,3,1.00,0.50,93.704912
5,Almond Delight,R,C,110.0,2,2,2,200.0,1.0,14.0,8,-1,25,3,1.00,0.75,34.384843
6,Apple Cinnamon Cheerios,NaN,C,110.0,2,2,2,180.0,1.5,10.5,10,70,25,1,1.00,0.75,29.509541
7,Apple Jacks,K,C,110.0,2,0,0,125.0,1.0,11.0,14,30,25,2,1.00,1.00,33.174094
8,Basic 4,G,C,130.0,3,2,2,210.0,2.0,18.0,8,100,25,3,1.33,0.75,37.038562
9,Bran Chex,R,C,NaN,2,1,1,200.0,4.0,15.0,6,125,25,1,1.00,0.67,49.120253

In [13]:
df1['type'] = df1['type'].fillna(value=df1['type'].mode()[0])
df1.head(10)

,name,mfr,type,calories,protein,fat,fat.1,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70.0,4,1,1,130.0,10.0,5.0,6,280,25,3,1.00,0.33,68.402973
1,100% Bran,N,C,70.0,4,1,1,130.0,10.0,5.0,6,280,25,3,1.00,0.33,68.402973
2,100% Natural Bran,Q,C,120.0,3,5,5,NaN,NaN,8.0,8,135,0,3,1.00,1.00,33.983679
3,All-Bran,K,C,70.0,4,1,1,260.0,9.0,7.0,5,320,25,3,1.00,0.33,59.425505
4,All-Bran with Extra Fiber,K,C,50.0,4,0,0,140.0,14.0,NaN,0,330,25,3,1.00,0.50,93.704912
5,Almond Delight,R,C,110.0,2,2,2,200.0,1.0,14.0,8,-1,25,3,1.00,0.75,34.384843
6,Apple Cinnamon Cheerios,NaN,C,110.0,2,2,2,180.0,1.5,10.5,10,70,25,1,1.00,0.75,29.509541
7,Apple Jacks,K,C,110.0,2,0,0,125.0,1.0,11.0,14,30,25,2,1.00,1.00,33.174094
8,Basic 4,G,C,130.0,3,2,2,210.0,2.0,18.0,8,100,25,3,1.33,0.75,37.038562
9,Bran Chex,R,C,NaN,2,1,1,200.0,4.0,15.0,6,125,25,1,1.00,0.67,49.120253

In [14]:
df1['mfr'].fillna(value=df1['mfr'].mode()[0], inplace=True)
df1.head(10)

C:\Users\ka6109071\AppData\Local\Temp\ipykernel_13056\1644589222.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df1['mfr'].fillna(value=df1['mfr'].mode()[0], inplace=True)

,name,mfr,type,calories,protein,fat,fat.1,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70.0,4,1,1,130.0,10.0,5.0,6,280,25,3,1.00,0.33,68.402973
1,100% Bran,N,C,70.0,4,1,1,130.0,10.0,5.0,6,280,25,3,1.00,0.33,68.402973
2,100% Natural Bran,Q,C,120.0,3,5,5,NaN,NaN,8.0,8,135,0,3,1.00,1.00,33.983679
3,All-Bran,K,C,70.0,4,1,1,260.0,9.0,7.0,5,320,25,3,1.00,0.33,59.425505
4,All-Bran with Extra Fiber,K,C,50.0,4,0,0,140.0,14.0,NaN,0,330,25,3,1.00,0.50,93.704912
5,Almond Delight,R,C,110.0,2,2,2,200.0,1.0,14.0,8,-1,25,3,1.00,0.75,34.384843
6,Apple Cinnamon Cheerios,K,C,110.0,2,2,2,180.0,1.5,10.5,10,70,25,1,1.00,0.75,29.509541
7,Apple Jacks,K,C,110.0,2,0,0,125.0,1.0,11.0,14,30,25,2,1.00,1.00,33.174094
8,Basic 4,G,C,130.0,3,2,2,210.0,2.0,18.0,8,100,25,3,1.33,0.75,37.038562
9,Bran Chex,R,C,NaN,2,1,1,200.0,4.0,15.0,6,125,25,1,1.00,0.67,49.120253

In [15]:
df1['mfr'] = df1['mfr'].fillna(value=df1['mfr'].mode()[0])
df1.head(10)

,name,mfr,type,calories,protein,fat,fat.1,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70.0,4,1,1,130.0,10.0,5.0,6,280,25,3,1.00,0.33,68.402973
1,100% Bran,N,C,70.0,4,1,1,130.0,10.0,5.0,6,280,25,3,1.00,0.33,68.402973
2,100% Natural Bran,Q,C,120.0,3,5,5,NaN,NaN,8.0,8,135,0,3,1.00,1.00,33.983679
3,All-Bran,K,C,70.0,4,1,1,260.0,9.0,7.0,5,320,25,3,1.00,0.33,59.425505
4,All-Bran with Extra Fiber,K,C,50.0,4,0,0,140.0,14.0,NaN,0,330,25,3,1.00,0.50,93.704912
5,Almond Delight,R,C,110.0,2,2,2,200.0,1.0,14.0,8,-1,25,3,1.00,0.75,34.384843
6,Apple Cinnamon Cheerios,K,C,110.0,2,2,2,180.0,1.5,10.5,10,70,25,1,1.00,0.75,29.509541
7,Apple Jacks,K,C,110.0,2,0,0,125.0,1.0,11.0,14,30,25,2,1.00,1.00,33.174094
8,Basic 4,G,C,130.0,3,2,2,210.0,2.0,18.0,8,100,25,3,1.33,0.75,37.038562
9,Bran Chex,R,C,NaN,2,1,1,200.0,4.0,15.0,6,125,25,1,1.00,0.67,49.120253

In [16]:
df1['calories'].fillna(value=df1['calories'].mean(), inplace=True)
df1.head(10)

C:\Users\ka6109071\AppData\Local\Temp\ipykernel_13056\3579436017.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df1['calories'].fillna(value=df1['calories'].mean(), inplace=True)

,name,mfr,type,calories,protein,fat,fat.1,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70.000000,4,1,1,130.0,10.0,5.0,6,280,25,3,1.00,0.33,68.402973
1,100% Bran,N,C,70.000000,4,1,1,130.0,10.0,5.0,6,280,25,3,1.00,0.33,68.402973
2,100% Natural Bran,Q,C,120.000000,3,5,5,NaN,NaN,8.0,8,135,0,3,1.00,1.00,33.983679
3,All-Bran,K,C,70.000000,4,1,1,260.0,9.0,7.0,5,320,25,3,1.00,0.33,59.425505
4,All-Bran with Extra Fiber,K,C,50.000000,4,0,0,140.0,14.0,NaN,0,330,25,3,1.00,0.50,93.704912
5,Almond Delight,R,C,110.000000,2,2,2,200.0,1.0,14.0,8,-1,25,3,1.00,0.75,34.384843
6,Apple Cinnamon Cheerios,K,C,110.000000,2,2,2,180.0,1.5,10.5,10,70,25,1,1.00,0.75,29.509541
7,Apple Jacks,K,C,110.000000,2,0,0,125.0,1.0,11.0,14,30,25,2,1.00,1.00,33.174094
8,Basic 4,G,C,130.000000,3,2,2,210.0,2.0,18.0,8,100,25,3,1.33,0.75,37.038562
9,Bran Chex,R,C,106.666667,2,1,1,200.0,4.0,15.0,6,125,25,1,1.00,0.67,49.120253

In [17]:
df1['calories'] = df1['calories'].fillna(value=df1['calories'].mean())
df1.head(10)

,name,mfr,type,calories,protein,fat,fat.1,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70.000000,4,1,1,130.0,10.0,5.0,6,280,25,3,1.00,0.33,68.402973
1,100% Bran,N,C,70.000000,4,1,1,130.0,10.0,5.0,6,280,25,3,1.00,0.33,68.402973
2,100% Natural Bran,Q,C,120.000000,3,5,5,NaN,NaN,8.0,8,135,0,3,1.00,1.00,33.983679
3,All-Bran,K,C,70.000000,4,1,1,260.0,9.0,7.0,5,320,25,3,1.00,0.33,59.425505
4,All-Bran with Extra Fiber,K,C,50.000000,4,0,0,140.0,14.0,NaN,0,330,25,3,1.00,0.50,93.704912
5,Almond Delight,R,C,110.000000,2,2,2,200.0,1.0,14.0,8,-1,25,3,1.00,0.75,34.384843
6,Apple Cinnamon Cheerios,K,C,110.000000,2,2,2,180.0,1.5,10.5,10,70,25,1,1.00,0.75,29.509541
7,Apple Jacks,K,C,110.000000,2,0,0,125.0,1.0,11.0,14,30,25,2,1.00,1.00,33.174094
8,Basic 4,G,C,130.000000,3,2,2,210.0,2.0,18.0,8,100,25,3,1.33,0.75,37.038562
9,Bran Chex,R,C,106.666667,2,1,1,200.0,4.0,15.0,6,125,25,1,1.00,0.67,49.120253

In [18]:
df1['sodium'].fillna(method='ffill', inplace=True)
df1.head(10)

C:\Users\ka6109071\AppData\Local\Temp\ipykernel_13056\3761843688.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df1['sodium'].fillna(method='ffill', inplace=True)
C:\Users\ka6109071\AppData\Local\Temp\ipykernel_13056\3761843688.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df1['sodium'].fillna(method='ffill', inplace=True)

,name,mfr,type,calories,protein,fat,fat.1,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70.000000,4,1,1,130.0,10.0,5.0,6,280,25,3,1.00,0.33,68.402973
1,100% Bran,N,C,70.000000,4,1,1,130.0,10.0,5.0,6,280,25,3,1.00,0.33,68.402973
2,100% Natural Bran,Q,C,120.000000,3,5,5,130.0,NaN,8.0,8,135,0,3,1.00,1.00,33.983679
3,All-Bran,K,C,70.000000,4,1,1,260.0,9.0,7.0,5,320,25,3,1.00,0.33,59.425505
4,All-Bran with Extra Fiber,K,C,50.000000,4,0,0,140.0,14.0,NaN,0,330,25,3,1.00,0.50,93.704912
5,Almond Delight,R,C,110.000000,2,2,2,200.0,1.0,14.0,8,-1,25,3,1.00,0.75,34.384843
6,Apple Cinnamon Cheerios,K,C,110.000000,2,2,2,180.0,1.5,10.5,10,70,25,1,1.00,0.75,29.509541
7,Apple Jacks,K,C,110.000000,2,0,0,125.0,1.0,11.0,14,30,25,2,1.00,1.00,33.174094
8,Basic 4,G,C,130.000000,3,2,2,210.0,2.0,18.0,8,100,25,3,1.33,0.75,37.038562
9,Bran Chex,R,C,106.666667,2,1,1,200.0,4.0,15.0,6,125,25,1,1.00,0.67,49.120253

In [ ]:
#df1['sodium'] = df1['sodium'].fillna(method='ffill')
df1['sodium'] = df1['sodium'].ffill()
df1.head(10)

,name,mfr,type,calories,protein,fat,fat.1,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70.0,4,1,1,130.0,10.0,5.0,6,280,25,3,1.00,0.33,68.402973
1,100% Bran,N,C,70.0,4,1,1,130.0,10.0,5.0,6,280,25,3,1.00,0.33,68.402973
2,100% Natural Bran,Q,C,120.0,3,5,5,130.0,NaN,8.0,8,135,0,3,1.00,1.00,33.983679
3,All-Bran,K,C,70.0,4,1,1,260.0,9.0,7.0,5,320,25,3,1.00,0.33,59.425505
4,All-Bran with Extra Fiber,K,C,50.0,4,0,0,140.0,14.0,NaN,0,330,25,3,1.00,0.50,93.704912
5,Almond Delight,R,C,110.0,2,2,2,200.0,1.0,14.0,8,-1,25,3,1.00,0.75,34.384843
6,Apple Cinnamon Cheerios,NaN,C,110.0,2,2,2,180.0,1.5,10.5,10,70,25,1,1.00,0.75,29.509541
7,Apple Jacks,K,NaN,110.0,2,0,0,125.0,1.0,11.0,14,30,25,2,1.00,1.00,33.174094
8,Basic 4,G,C,130.0,3,2,2,210.0,2.0,18.0,8,100,25,3,1.33,0.75,37.038562
9,Bran Chex,R,C,NaN,2,1,1,200.0,4.0,15.0,6,125,25,1,1.00,0.67,49.120253

:

In [20]:
df1['fiber'].fillna(method='bfill', inplace=True)
df1.head(10)

C:\Users\ka6109071\AppData\Local\Temp\ipykernel_13056\396443997.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df1['fiber'].fillna(method='bfill', inplace=True)
C:\Users\ka6109071\AppData\Local\Temp\ipykernel_13056\396443997.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df1['fiber'].fillna(method='bfill', inplace=True)

,name,mfr,type,calories,protein,fat,fat.1,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70.000000,4,1,1,130.0,10.0,5.0,6,280,25,3,1.00,0.33,68.402973
1,100% Bran,N,C,70.000000,4,1,1,130.0,10.0,5.0,6,280,25,3,1.00,0.33,68.402973
2,100% Natural Bran,Q,C,120.000000,3,5,5,130.0,9.0,8.0,8,135,0,3,1.00,1.00,33.983679
3,All-Bran,K,C,70.000000,4,1,1,260.0,9.0,7.0,5,320,25,3,1.00,0.33,59.425505
4,All-Bran with Extra Fiber,K,C,50.000000,4,0,0,140.0,14.0,NaN,0,330,25,3,1.00,0.50,93.704912
5,Almond Delight,R,C,110.000000,2,2,2,200.0,1.0,14.0,8,-1,25,3,1.00,0.75,34.384843
6,Apple Cinnamon Cheerios,K,C,110.000000,2,2,2,180.0,1.5,10.5,10,70,25,1,1.00,0.75,29.509541
7,Apple Jacks,K,C,110.000000,2,0,0,125.0,1.0,11.0,14,30,25,2,1.00,1.00,33.174094
8,Basic 4,G,C,130.000000,3,2,2,210.0,2.0,18.0,8,100,25,3,1.33,0.75,37.038562
9,Bran Chex,R,C,106.666667,2,1,1,200.0,4.0,15.0,6,125,25,1,1.00,0.67,49.120253

In [21]:
df1['fiber'] = df1['fiber'].bfill()
df1.head(10)

,name,mfr,type,calories,protein,fat,fat.1,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70.000000,4,1,1,130.0,10.0,5.0,6,280,25,3,1.00,0.33,68.402973
1,100% Bran,N,C,70.000000,4,1,1,130.0,10.0,5.0,6,280,25,3,1.00,0.33,68.402973
2,100% Natural Bran,Q,C,120.000000,3,5,5,130.0,9.0,8.0,8,135,0,3,1.00,1.00,33.983679
3,All-Bran,K,C,70.000000,4,1,1,260.0,9.0,7.0,5,320,25,3,1.00,0.33,59.425505
4,All-Bran with Extra Fiber,K,C,50.000000,4,0,0,140.0,14.0,NaN,0,330,25,3,1.00,0.50,93.704912
5,Almond Delight,R,C,110.000000,2,2,2,200.0,1.0,14.0,8,-1,25,3,1.00,0.75,34.384843
6,Apple Cinnamon Cheerios,K,C,110.000000,2,2,2,180.0,1.5,10.5,10,70,25,1,1.00,0.75,29.509541
7,Apple Jacks,K,C,110.000000,2,0,0,125.0,1.0,11.0,14,30,25,2,1.00,1.00,33.174094
8,Basic 4,G,C,130.000000,3,2,2,210.0,2.0,18.0,8,100,25,3,1.33,0.75,37.038562
9,Bran Chex,R,C,106.666667,2,1,1,200.0,4.0,15.0,6,125,25,1,1.00,0.67,49.120253

In [22]:
df['carbo'].interpolate(method='linear', inplace=True)
df.head(10)

C:\Users\ka6109071\AppData\Local\Temp\ipykernel_13056\3573404300.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['carbo'].interpolate(method='linear', inplace=True)

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.00,0.33,68.402973
1,100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,0,3,1.00,1.00,33.983679
2,All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,3,1.00,0.33,59.425505
3,All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25,3,1.00,0.50,93.704912
4,Almond Delight,R,C,110,2,2,200,1.0,14.0,8,-1,25,3,1.00,0.75,34.384843
5,Apple Cinnamon Cheerios,G,C,110,2,2,180,1.5,10.5,10,70,25,1,1.00,0.75,29.509541
6,Apple Jacks,K,C,110,2,0,125,1.0,11.0,14,30,25,2,1.00,1.00,33.174094
7,Basic 4,G,C,130,3,2,210,2.0,18.0,8,100,25,3,1.33,0.75,37.038562
8,Bran Chex,R,C,90,2,1,200,4.0,15.0,6,125,25,1,1.00,0.67,49.120253
9,Bran Flakes,P,C,90,3,0,210,5.0,13.0,5,190,25,3,1.00,0.67,53.313813

In [23]:
df['carbo'] = df['carbo'].interpolate(method='linear')
df.head(10)

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.00,0.33,68.402973
1,100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,0,3,1.00,1.00,33.983679
2,All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,3,1.00,0.33,59.425505
3,All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25,3,1.00,0.50,93.704912
4,Almond Delight,R,C,110,2,2,200,1.0,14.0,8,-1,25,3,1.00,0.75,34.384843
5,Apple Cinnamon Cheerios,G,C,110,2,2,180,1.5,10.5,10,70,25,1,1.00,0.75,29.509541
6,Apple Jacks,K,C,110,2,0,125,1.0,11.0,14,30,25,2,1.00,1.00,33.174094
7,Basic 4,G,C,130,3,2,210,2.0,18.0,8,100,25,3,1.33,0.75,37.038562
8,Bran Chex,R,C,90,2,1,200,4.0,15.0,6,125,25,1,1.00,0.67,49.120253
9,Bran Flakes,P,C,90,3,0,210,5.0,13.0,5,190,25,3,1.00,0.67,53.313813

In [24]:
import pandas as pd
df1 = pd.read_csv("cereal1.csv")

In [25]:
print(sum(df1.duplicated()))  # Count duplicate rows

1

In [26]:
df1.drop_duplicates(subset=['name'], keep='first', inplace=True)
print(sum(df1.duplicated(subset = ['name'])))  # Count duplicate rows

0

In [27]:
df1.head(3)

,name,mfr,type,calories,protein,fat,fat.1,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70.0,4,1,1,130.0,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
2,100% Natural Bran,Q,C,120.0,3,5,5,NaN,NaN,8.0,8,135,0,3,1.0,1.00,33.983679
3,All-Bran,K,C,70.0,4,1,1,260.0,9.0,7.0,5,320,25,3,1.0,0.33,59.425505

In [28]:
df1.head(3)

,name,mfr,type,calories,protein,fat,fat.1,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70.0,4,1,1,130.0,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
2,100% Natural Bran,Q,C,120.0,3,5,5,NaN,NaN,8.0,8,135,0,3,1.0,1.00,33.983679
3,All-Bran,K,C,70.0,4,1,1,260.0,9.0,7.0,5,320,25,3,1.0,0.33,59.425505

In [29]:
print(sum(df1.duplicated(subset = ['name'])))  # Count duplicate rows

0

In [30]:
df1.drop_duplicates(subset=['name'], keep='first', inplace=True)
print(sum(df1.duplicated(subset = ['name'])))  # Count duplicate rows

0

In [31]:
df1.head(3)

,name,mfr,type,calories,protein,fat,fat.1,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70.0,4,1,1,130.0,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
2,100% Natural Bran,Q,C,120.0,3,5,5,NaN,NaN,8.0,8,135,0,3,1.0,1.00,33.983679
3,All-Bran,K,C,70.0,4,1,1,260.0,9.0,7.0,5,320,25,3,1.0,0.33,59.425505

In [32]:
import pandas as pd
df1 = pd.read_csv("cereal1.csv")

In [33]:
df1.head(5)

,name,mfr,type,calories,protein,fat,fat.1,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70.0,4,1,1,130.0,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
1,100% Bran,N,C,70.0,4,1,1,130.0,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
2,100% Natural Bran,Q,C,120.0,3,5,5,NaN,NaN,8.0,8,135,0,3,1.0,1.00,33.983679
3,All-Bran,K,C,70.0,4,1,1,260.0,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
4,All-Bran with Extra Fiber,K,C,50.0,4,0,0,140.0,14.0,NaN,0,330,25,3,1.0,0.50,93.704912

In [34]:
df1.duplicated()  # Identify duplicate rows

0     False
1      True
2     False
3     False
4     False
      ...
73    False
74    False
75    False
76    False
77    False
Length: 78, dtype: bool

In [35]:
df1 = df1.transpose().drop_duplicates().transpose()
df1.head(5)

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70.0,4,1,130.0,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
1,100% Bran,N,C,70.0,4,1,130.0,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
2,100% Natural Bran,Q,C,120.0,3,5,NaN,NaN,8.0,8,135,0,3,1.0,1.0,33.983679
3,All-Bran,K,C,70.0,4,1,260.0,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
4,All-Bran with Extra Fiber,K,C,50.0,4,0,140.0,14.0,NaN,0,330,25,3,1.0,0.5,93.704912

In [36]:
df1 = df1.transpose()
df1.head()

,0,1,2,3,4,5,6,7,8,9,...,68,69,70,71,72,73,74,75,76,77
name,100% Bran,100% Bran,100% Natural Bran,All-Bran,All-Bran with Extra Fiber,Almond Delight,Apple Cinnamon Cheerios,Apple Jacks,Basic 4,Bran Chex,...,Special K,Strawberry Fruit Wheats,Total Corn Flakes,Total Raisin Bran,Total Whole Grain,Triples,Trix,Wheat Chex,Wheaties,Wheaties Honey Gold
mfr,N,N,Q,K,K,R,NaN,K,G,R,...,K,N,G,G,G,G,G,R,G,G
type,C,C,C,C,C,C,C,NaN,C,C,...,C,C,C,C,C,C,C,C,C,C
calories,70.0,70.0,120.0,70.0,50.0,110.0,110.0,110.0,130.0,NaN,...,110.0,90.0,110.0,140.0,100.0,110.0,110.0,100.0,100.0,110.0
protein,4,4,3,4,4,2,2,2,3,2,...,6,2,2,3,3,2,1,3,3,2

In [37]:
import pandas as pd
df1 = pd.read_csv("cereal1.csv")
df1.head(4)

,name,mfr,type,calories,protein,fat,fat.1,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70.0,4,1,1,130.0,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
1,100% Bran,N,C,70.0,4,1,1,130.0,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
2,100% Natural Bran,Q,C,120.0,3,5,5,NaN,NaN,8.0,8,135,0,3,1.0,1.00,33.983679
3,All-Bran,K,C,70.0,4,1,1,260.0,9.0,7.0,5,320,25,3,1.0,0.33,59.425505

In [38]:
df['weight'] = df['weight'] * 28.39
df.head(4)

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,28.39,0.33,68.402973
1,100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,0,3,28.39,1.00,33.983679
2,All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,3,28.39,0.33,59.425505
3,All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25,3,28.39,0.50,93.704912

In [ ]:
def update_mfr(val):
    mapping = {
        'A': 'American Home Food Products',
        'G': 'General Mills',
        'K': 'Kelloggs',
        'N': 'Nabisco',
        'P': 'Post',
        'Q': 'Quaker Oats',
        'R': 'Ralston Purina'
    }
    manufacturer_full_name = mapping[val]
    return manufacturer_full_name


df['mfr'] = df['mfr'].apply(update_mfr)
df.head(10)

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,Nabisco,C,70,4,1,130,10.0,5.0,6,280,25,3,28.3900,0.33,68.402973
1,100% Natural Bran,Quaker Oats,C,120,3,5,15,2.0,8.0,8,135,0,3,28.3900,1.00,33.983679
2,All-Bran,Kelloggs,C,70,4,1,260,9.0,7.0,5,320,25,3,28.3900,0.33,59.425505
3,All-Bran with Extra Fiber,Kelloggs,C,50,4,0,140,14.0,8.0,0,330,25,3,28.3900,0.50,93.704912
4,Almond Delight,Ralston Purina,C,110,2,2,200,1.0,14.0,8,-1,25,3,28.3900,0.75,34.384843
5,Apple Cinnamon Cheerios,General Mills,C,110,2,2,180,1.5,10.5,10,70,25,1,28.3900,0.75,29.509541
6,Apple Jacks,Kelloggs,C,110,2,0,125,1.0,11.0,14,30,25,2,28.3900,1.00,33.174094
7,Basic 4,General Mills,C,130,3,2,210,2.0,18.0,8,100,25,3,37.7587,0.75,37.038562
8,Bran Chex,Ralston Purina,C,90,2,1,200,4.0,15.0,6,125,25,1,28.3900,0.67,49.120253
9,Bran Flakes,Post,C,90,3,0,210,5.0,13.0,5,190,25,3,28.3900,0.67,53.313813

In [40]:
df['type'] = df['type'].str.lower()
df.head(10)

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,Nabisco,c,70,4,1,130,10.0,5.0,6,280,25,3,28.3900,0.33,68.402973
1,100% Natural Bran,Quaker Oats,c,120,3,5,15,2.0,8.0,8,135,0,3,28.3900,1.00,33.983679
2,All-Bran,Kelloggs,c,70,4,1,260,9.0,7.0,5,320,25,3,28.3900,0.33,59.425505
3,All-Bran with Extra Fiber,Kelloggs,c,50,4,0,140,14.0,8.0,0,330,25,3,28.3900,0.50,93.704912
4,Almond Delight,Ralston Purina,c,110,2,2,200,1.0,14.0,8,-1,25,3,28.3900,0.75,34.384843
5,Apple Cinnamon Cheerios,General Mills,c,110,2,2,180,1.5,10.5,10,70,25,1,28.3900,0.75,29.509541
6,Apple Jacks,Kelloggs,c,110,2,0,125,1.0,11.0,14,30,25,2,28.3900,1.00,33.174094
7,Basic 4,General Mills,c,130,3,2,210,2.0,18.0,8,100,25,3,37.7587,0.75,37.038562
8,Bran Chex,Ralston Purina,c,90,2,1,200,4.0,15.0,6,125,25,1,28.3900,0.67,49.120253
9,Bran Flakes,Post,c,90,3,0,210,5.0,13.0,5,190,25,3,28.3900,0.67,53.313813