In [7]:
import os
import numpy as np
import pandas as pd

In [8]:
ratings_data = pd.read_csv('ratings.csv')
ratings_data.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [9]:
movie_data = pd.read_csv('movies.csv')
movie_data.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [12]:
movie_rating_data = pd.merge(ratings_data, movie_data, on='movieId')

In [36]:
movie_rating_data.head(30)

,userId,movieId,rating,timestamp,title,genres
0,1,31,2.5,1260759144,Dangerous Minds (1995),Drama
1,1,1029,3.0,1260759179,Dumbo (1941),Animation|Children|Drama|Musical
2,1,1061,3.0,1260759182,Sleepers (1996),Thriller
3,1,1129,2.0,1260759185,Escape from New York (1981),Action|Adventure|Sci-Fi|Thriller
4,1,1172,4.0,1260759205,Cinema Paradiso (Nuovo cinema Paradiso) (1989),Drama
5,1,1263,2.0,1260759151,"Deer Hunter, The (1978)",Drama|War
6,1,1287,2.0,1260759187,Ben-Hur (1959),Action|Adventure|Drama
7,1,1293,2.0,1260759148,Gandhi (1982),Drama
8,1,1339,3.5,1260759125,Dracula (Bram Stoker's Dracula) (1992),Fantasy|Horror|Romance|Thriller
9,1,1343,2.0,1260759131,Cape Fear (1991),Thriller
10,1,1371,2.5,1260759135,Star Trek: The Motion Picture (1979),Adventure|Sci-Fi
11,1,1405,1.0,1260759203,Beavis and Butt-Head Do America (1996),Adventure|Animation|Comedy|Crime
12,1,1953,4.0,1260759191,"French Connection, The (1971)",Action|Crime|Thriller
13,1,2105,4.0,1260759139,Tron (1982),Action|Adventure|Sci-Fi
14,1,2150,3.0,1260759194,"Gods Must Be Crazy, The (1980)",Adventure|Comedy
15,1,2193,2.0,1260759198,Willow (1988),Action|Adventure|Fantasy
16,1,2294,2.0,1260759108,Antz (1998),Adventure|Animation|Children|Comedy|Fantasy
17,1,2455,2.5,1260759113,"Fly, The (1986)",Drama|Horror|Sci-Fi|Thriller
18,1,2968,1.0,1260759200,Time Bandits (1981),Adventure|Comedy|Fantasy|Sci-Fi
19,1,3671,3.0,1260759117,Blazing Saddles (1974),Comedy|Western
20,2,10,4.0,835355493,GoldenEye (1995),Action|Adventure|Thriller
21,2,17,5.0,835355681,Sense and Sensibility (1995),Drama|Romance
22,2,39,5.0,835355604,Clueless (1995),Comedy|Romance
23,2,47,4.0,835355552,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
24,2,50,4.0,835355586,"Usual Suspects, The (1995)",Crime|Mystery|Thriller
25,2,52,3.0,835356031,Mighty Aphrodite (1995),Comedy|Drama|Romance
26,2,62,3.0,835355749,Mr. Holland's Opus (1995),Drama
27,2,110,4.0,835355532,Braveheart (1995),Action|Drama|War
28,2,144,3.0,835356016,"Brothers McMullen, The (1995)",Comedy
29,2,150,5.0,835355395,Apollo 13 (1995),Adventure|Drama|IMAX

In [31]:
movie_rating_data.groupby('title')['rating'].mean().head()

title
"Great Performances" Cats (1998)           1.750000
$9.99 (2008)                               3.833333
'Hellboy': The Seeds of Creation (2004)    2.000000
'Neath the Arizona Skies (1934)            0.500000
'Round Midnight (1986)                     2.250000
Name: rating, dtype: float64

In [32]:
movie_rating_data.groupby('title')['rating'].mean().sort_values(ascending=False).head()

title
Zerophilia (2005)                                                              5.0
'night Mother (1986)                                                           5.0
Zelary (2003)                                                                  5.0
Dorian Blues (2004)                                                            5.0
Disappearance of Haruhi Suzumiya, The (Suzumiya Haruhi no sh√¥shitsu) (2010)    5.0
Name: rating, dtype: float64

In [33]:
movie_rating_data.groupby('title')['rating'].count().sort_values(ascending=False).head()

title
Forrest Gump (1994)                          341
Pulp Fiction (1994)                          324
Shawshank Redemption, The (1994)             311
Silence of the Lambs, The (1991)             304
Star Wars: Episode IV - A New Hope (1977)    291
Name: rating, dtype: int64

In [34]:
rating_mean_count = pd.DataFrame(movie_rating_data.groupby('title')['rating'].mean())
rating_mean_count['rating_counts'] = pd.DataFrame(movie_rating_data.groupby('title')['rating'].count())
rating_mean_count.head()

                                           rating  rating_counts
title
"Great Performances" Cats (1998)         1.750000              2
$9.99 (2008)                             3.833333              3
'Hellboy': The Seeds of Creation (2004)  2.000000              1
'Neath the Arizona Skies (1934)          0.500000              1
'Round Midnight (1986)                   2.250000              2

In [35]:
rating_mean_count[rating_mean_count['rating'] == 5.0].sort_values(by='rating', ascending=False).head(5)

                              rating  rating_counts
title
'night Mother (1986)             5.0              3
10 Attitudes (2001)              5.0              1
16 Wishes (2010)                 5.0              1
29th and Gay (2005)              5.0              1
3 Women (Three Women) (1977)     5.0              1

In [25]:
# Get top 5 movies with at least 50 ratings, sorted by average rating
rating_mean_count[rating_mean_count['rating_counts'] >= 50].sort_values(by='rating', ascending=False).head(5)

                                    rating  rating_counts
title
Godfather, The (1972)             4.487500            200
Shawshank Redemption, The (1994)  4.487138            311
African Queen, The (1951)         4.420000             50
Maltese Falcon, The (1941)        4.387097             62
Godfather: Part II, The (1974)    4.385185            135

In [26]:
C = rating_mean_count['rating'].mean()
m = rating_mean_count['rating_counts'].quantile(0.90)

def imdb_score(row):
    v = row['rating_counts']
    R = row['rating']
    return (v/(v+m) * R) + (m/(v+m) * C)

rating_mean_count['imdb_score'] = rating_mean_count.apply(imdb_score, axis=1)

In [28]:
rating_mean_count.sort_values('imdb_score', ascending=False).head(5)

                                    rating  rating_counts  imdb_score
title
Shawshank Redemption, The (1994)  4.487138            311    4.388430
Godfather, The (1972)             4.487500            200    4.340692
Usual Suspects, The (1995)        4.370647            201    4.238768
Schindler's List (1993)           4.303279            244    4.199183
Godfather: Part II, The (1974)    4.385185            135    4.197410